body {
    padding: 40px;
    background-color: $purple;
    background-image: url('/images/bg-mobile.svg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    color: #ffffff;
    @media screen and (min-width: 1024px) {
        background-image: url('/images/bg-desktop.svg');
    }
}

main {
    margin-bottom: 60px;
    @media screen and (min-width: 1024px) {
        margin-bottom: 26px;
        display: grid;
        grid-template-columns: repeat(2, minmax(250px, 1fr));
    }
}

.heroImage {
    @media screen and (max-width: 1023px) {
        margin-bottom: 70px;
    }
    img {
        width: 100%;
    }
}

.heroText {
    line-height: 1.75;
    text-align: center;
    @media screen and (min-width: 1024px) {
        padding-left: 60px;
        text-align: left;
    }
}

h1 {
    font-family: $font-title;
    font-weight: 700;
    font-size: 22px;
    line-height: 1.5;
    @media screen and (min-width: 1024px) {
        font-size: 32px;
        line-height: 1.3;
    }
}

a.cta {
    display: inline-block;
    margin-top: 20px;
    min-width: 250px;
    padding: 20px;
    background: #ffffff;
    text-transform: uppercase;
    text-align: center;
    color: $purple;
    border-radius: 30px;
    line-height: 1;
    transition: all .3s ease-in-out;
    box-shadow: 5px 5px 10px darken($purple, 20%);
    transform: translateX(0px);
    &:hover {
        background: #bb4fb9;
        color: #ffffff;
        transform: translateX(10px);
    }
    @media screen and (min-width: 1024px) {
        padding: 20px 66px;
        min-width: 200px;
    }
}